:root {
  --button-color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: wheat;
}

button {
  border: 10px solid var(--button-color, #000);
  border-radius: 1rem;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  padding: 3rem;
  max-width: 1200px;
  display: flex;
  gap: clamp(2rem, 8vw, 4rem);
}

.btn-one .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms ease-in 300ms;
  transform-origin: center;
}

.btn-one[aria-expanded="true"] .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms ease-in 300ms;
  transform-origin: center;
}

.btn-one[aria-expanded="true"] :is(.top, .bottom) {
  y: 45px;
}

.btn-one[aria-expanded="true"] .top {
  rotate: 45deg;
}

.btn-one[aria-expanded="true"] .bottom {
  rotate: -45deg;
}

.btn-one[aria-expanded="true"] .middle {
  opacity: 0;
}



.btn-two {
  --button-color: rgb(212, 69, 69);
}

.btn-two .line {
  animation: to-open-icon 1s forwards;
}


.btn-two:hover .line {
  stroke-dashoffset: 79.9;
  animation: to-close-icon 1s forwards;
}

.btn-two .line.top {
  --rotation: -45deg;
  transform-origin: 65px 45px;
}

.btn-two .line.bottom {
  --rotation: 45deg;
  transform-origin: 60px 55px;
}

@keyframes to-open-icon {
  0% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }

  40% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }

  60% {
    stroke-dashoffset: 79.9;
    
  }

  100% {
    stroke-dashoffset: 0;
    
  }
}

@keyframes to-close-icon {
  0% {
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dashoffset: 79.9;
  }

  60% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }

  100% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
}