:root {
  --button-color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: wheat;
}

button {
  border: 10px solid var(--button-color, #000);
  border-radius: 1rem;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  padding: 3rem;
  max-width: 1200px;
  display: flex;
  gap: clamp(2rem, 8vw, 4rem);
}

.btn-one .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms ease-in 300ms;
  transform-origin: center;
}

.btn-one[data-state="opened"] .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms ease-in 300ms;
  transform-origin: center;
}

.btn-one[data-state="opened"] :is(.top, .bottom) {
  y: 45px;
}

.btn-one[data-state="opened"] .top {
  rotate: 45deg;
}

.btn-one[data-state="opened"] .bottom {
  rotate: -45deg;
}

.btn-one[data-state="opened"] .middle {
  opacity: 0;
}



.btn-two {
  --button-color: rgb(212, 69, 69);
}

.btn-two[data-state="closed"] .line {
  animation: to-open-icon 1s forwards;
}


.btn-two[data-state="opened"] .line {
  stroke-dashoffset: 79.9;
  animation: to-close-icon 1s forwards;
}

.btn-two .line.top {
  --rotation: -45deg;
  transform-origin: 65px 45px;
}

.btn-two .line.bottom {
  --rotation: 45deg;
  transform-origin: 60px 55px;
}

@keyframes to-open-icon {
  0% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }

  40% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }

  60% {
    stroke-dashoffset: 79.9;

  }

  100% {
    stroke-dashoffset: 0;

  }
}

@keyframes to-close-icon {
  0% {
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dashoffset: 79.9;
  }

  60% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }

  100% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
}



.btn-three {
  --button-color: purple;
  overflow: hidden;
}

.btn-three .line {
  stroke-dasharray: 60 31 60 300;
  transition: 1s;
}

.btn-three .hamburger {
  transition: 1s;
}

.btn-three[data-state="opened"] .hamburger {
  translate: 10px -20px;
  rotate: 45deg;
}

.btn-three[data-state="opened"] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}